{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/list2.css' %}">	
  <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
</head>
<body>

<div>

	<div>
		<p>
			Your browser does not support symbols as a list-style type.
		</p>
	</div>

	<h1>람다썬더_lambdathunder</h1>
	<a href="{% url 'logout' %}">
	<button class="button-85" role="button">로그아웃</button>
	</a>
	<br>
	<a href="{% url 'index' %}">
	<button class="button-85" role="button">코드작성페이지</button>
	</a>
	<ul>
		<li><a href="{% url 'index' %}">코드1</a></li>
		<li>코드2</li>
		<li>코드3</li>
		<li>코드4</li>
		<li>코드5</li>
		<li>코드6</li>
		<li>코드7</li>
		<li>코드8</li>
		<li>코드9</li>
		<li>코드10</li>
		<li>코드11</li>
		<li>코드12</li>
		<li>코드13</li>
		<li>코드14</li>
		<li>코드15</li>
		<li>코드16</li>
		<li>코드17</li>
		<li>background-color</li>
		<li>background-image</li>
		<li>background-origin</li>
		<li>background-position</li>
		<li>background-repeat</li>
		<li>background-size</li>
		
	</ul>

</div>
</body>
</html>